<html>

<body>
    <h1 align="center">
        REGISTER ACCOUNT PAGE
    </h1>
    <center>
        <form method="POST" action="Register.do">
            Enter your account information<p>
                email: <input type="email" name="email" required placeholder="Enter email..." /><br>
                password: <input type="password" name="password" required placeholder="Enter password..." /><br>
                username: <input type="text" name="username" required placeholder="Enter username..."/><br>
                <br><br>
                <center>
                    <input type="submit" value="SUBMIT" />
                </center>
            </p>
        </form>
    </center>
</body>

</html>