<web-app 
  xmlns="http://java.sun.com/xml/ns/j2ee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xls:schemaLocation="http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
  version="2.4"
>
  <servlet>
    <servlet-name>LiquorRegister</servlet-name>
    <servlet-class>vn.de.lipo.webapp.controller.RegisterServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>CookieTesting</servlet-name>
    <servlet-class>vn.de.lipo.webapp.controller.CookieTestingServlet</servlet-class>
  </servlet>

  <context-param>
    <param-name>databaseURL</param-name>
    <param-value>jdbc:postgresql://localhost:5432/lipodb</param-value>
  </context-param>

  <context-param>
    <param-name>username</param-name>
    <param-value>ducpham</param-value>
  </context-param>

  <context-param>
    <param-name>password</param-name>
    <param-value>123456</param-value>
  </context-param>
  
  <servlet-mapping>
  	<servlet-name>LiquorRegister</servlet-name>
  	<url-pattern>/Register.do</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
  	<servlet-name>CookieTesting</servlet-name>
  	<url-pattern>/checkCookie.do</url-pattern>
  </servlet-mapping>

  <listener>
    <listener-class>vn.de.lipo.webapp.listener.RegisterServletListener</listener-class>
  </listener>
</web-app>